@model CourseTestViewModel

<table class="table">
	<thead>
		<tr>
			<th>Instructor Name</th>
			<th>Course Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var course in Model.Courses)
		{
		<tr>
			<td>@course.Instructor.FullName</td>
			<td>@course.CourseName</td>
		</tr>
		}
	</tbody>
</table>