<!-- Main Content -->
<div class="container container-fluid">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<div class="post-preview">
				<a href="#">
					<h2 class="post-title">
						School of Planning welcomes Janice Barry
					</h2>
					<h3 class="post-subtitle">
						The School of Planning is pleased to announce that Janice Barry has joined our team as of July 1, 2018, as a tenure track Assistant Professor. Janice is an established scholar, with previous appointments at the University of Glasgow, University of Sheffield and most recently the University of Manitoba.
					</h3>
				</a>
				<p class="post-meta">
					Posted by
					<a href="#">Mike Lim</a>
					on September 24, 2018
				</p>
			</div>
			<hr>
			<div class="post-preview">
				<a href="#">
					<h2 class="post-title">
						SOUL 2018 Call for Student Presentations Now Open
					</h2>
				</a>
				<p class="post-meta">
					Posted by
					<a href="#">Jennifer Leno</a>
					on September 18, 2018
				</p>
			</div>
			<hr>
			<div class="post-preview">
				<a href="#">
					<h2 class="post-title">
						Student Scholarships Applications are now open! CIP 2018
					</h2>
					<h3 class="post-subtitle">
						CIP's Planning Student Trust Fund Scholarships (CIP-PSTF) is now accepting applications for its five scholarships and one bursary. Planning students are invited to learn more and apply online before March 15, 2018. Successful recipients will be notified in May and the presentation will take place at our national conference.
					</h3>
				</a>
				<p class="post-meta">
					Posted by
					<a href="#">Youn Seon</a>
					on August 24, 2018
				</p>
			</div>
			<hr>
			<div class="post-preview">
				<a href="#">
					<h2 class="post-title">
						2018 Toronto CREW Scholarship!
					</h2>
					<h3 class="post-subtitle">
						Toronto Commercial Real Estate Women
						is pleased to announce the 2018 Toronto CREW Scholarship
						Apply for an opportunity to:
					</h3>
				</a>
				<p class="post-meta">
					Posted by
					<a href="#">Francis Pang</a>
					on July 8, 2018
				</p>
			</div>
		</div>
	</div>
</div><hr />
