@model CourseTestViewModel

<br />
<br />
<br />
<h3>Role User Information</h3>
<form class="form form-horizontal" asp-controller="Home" asp-action="CourseEdit" asp-antiforgery="false" method="POST">
	<div class="form-group">
		<div class="col-md-3">
			<label>Course Name:</label>
			<input type="text" class="form-control" asp-for="@Model.Course.CourseName">
			<span asp-validation-for="@Model.Course.CourseName"></span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-3">
			<label>Teacher Name:</label>
			<input type="text" class="form-control" asp-for="@Model.Course.TeacherName">
			<span asp-validation-for="@Model.Course.TeacherName"></span>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Update</button>
</form>