@model CourseTestViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
	public string GetAntiXsrfRequestToken()
	{
		return Xsrf.GetAndStoreTokens(Context).RequestToken;
	}
}
@{
	ViewBag.Title = "View Course";
}
<!-- Page Header -->
<header class="masthead">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>View Courses</h1>
					<span class="subheading">Available Classes</span>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Main Content -->
@await Html.PartialAsync("_CourseTable", Model)
